html, body {
  background-color: var(--mainBg);
  width: 100vw;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "roboto" !important;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}

.hidden {
  display: none !important;
}

.mainContainer {
  min-height: 95vh;
  padding-top: 5vh;
  padding-bottom: 2.5vh;
  width: 100%;
  z-index: 999;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

.markdowned strong {
  font-weight: bold;
}

.markdowned em {
  font-style: italic;
}

.markdowned h1 {
  font-size: 1.75em;
}

.markdowned h2 {
  font-size: 1.5em;
}

.markdowned h3 {
  font-size: 1.25em;
}

.markdowned ul {
  list-style: inside;
  line-height: 1em;
}

.markdowned p {
  text-align: justify;
}

blockquote {
  font-family: hoef;
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

kbd, .key {
  display: inline;
  display: inline-block;
  min-width: 1em;
  padding: .2em .3em;
  font: normal .85em/1 "Lucida Grande", Lucida, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
  border: none;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #505050;
  background: -moz-linear-gradient(top, #3c3c3c, #505050);
  background: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#505050));
  color: #fafafa;
  text-shadow: -1px -1px 0 #464646;
  -moz-box-shadow: inset 0 0 1px #969696, inset 0 -0.05em 0.4em #505050, 0 0.1em 0 #1e1e1e, 0 0.1em 0.1em rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 1px #969696, inset 0 -0.05em 0.4em #505050, 0 0.1em 0 #1e1e1e, 0 0.1em 0.1em rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 1px #969696, inset 0 -0.05em 0.4em #505050, 0 0.1em 0 #1e1e1e, 0 0.1em 0.1em rgba(0, 0, 0, 0.3);
}

pre {
  text-align: justify;
  padding-bottom: 1vh;
  margin-bottom: 1vh;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.login {
  height: 86vh !important;
  margin-top: 0;
  padding: 0;
}

.loginForm {
  padding-top: 20vw;
}
