.cv {
  font-family: sans-serif;
  font-size: 1em;
}
.cv span {
  display: flex;
  justify-content: space-between;
}
.cv span strong {
  padding-left: 0;
}

.cv p, .cv ul {
  margin-bottom: 1vh;
}

strong {
  padding-left: 2.5vh;
}

.cv ul {
  list-style: circle inside;
  margin-left: 5vh;
}
