.error {
  height: 50vh;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 0, 0, 0);
  color: var(--textOnLight);
  padding-top: 10vh;
}

.error img {
  height: 256px;
}

.error big {
  font-size: 9em;
  filter: drop-shadow(1px 1px 2px #777);
}

.error h1 {
  margin-top: 10vh;
  font-size: 4em;
  filter: drop-shadow(1px 1px 2px #777);
}

.error h2 {
  margin-top: 10vh;
  font-size: 1.5em;
  filter: drop-shadow(1px 1px 2px #777);
}

.hidden {
  display: none;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: #ff5853;
  font-size: 40px;
}

.notifContainer {
  justify-content: center;
  position: fixed;
  bottom: 4vh;
  right: 0;
  animation: slideRight 0.5s;
}

.errorNotif {
  z-index: 1000;
  font-size: 2.5em;
  color: white;
  background-color: var(--errorBgc);
  box-shadow: 1px 1px 2px black;
  padding: 1vh;
  width: 33vw;
  margin-left: 33vw;
  border: 1px solid red;
}

.messageNotif {
  z-index: 1000;
  font-size: 2.5em;
  color: white;
  background-color: var(--messageBgc);
  box-shadow: 1px 1px 2px black;
  padding: 1vh;
  width: 33vw;
  margin-left: 33vw;
  border: 1px solid green;
}

@keyframes slideRight {
  0% {
    right: -1000px;
  }
  100% {
    right: 0;
  }
}
