.footer {
  color: white;
  font-family: "roboto", sans-serif;
  background-color: #202020;
  padding-bottom: 2vh;
}

.footer * a {
  color: orangered;
  transition: .5s;
}

.footer * a:hover {
  color: orange;
}

.footContent {
  display: flex;
  padding-top: 2vh;
  justify-content: space-around;
}

.footContent .about, .footContent .contact {
  width: 50%;
  text-align: center;
}

.footContent .about {
  border-right: 1px solid white;
}

.footContentData {
  display: flex;
  justify-content: space-around;
}
