.header {
  z-index: 1;
  height: 100vh;
  align-content: center;
  background: url("img/alex-gorham.jpg") fixed;
  background-size: cover;
  background-position: center;
  animation: ease-out zoomOut 1.5s forwards;
}

.logo {
  height: 0;
  filter: invert(100);
  animation: zoomIn 1.5s forwards;
}

.nav {
  z-index: 2;
  display: flex;
  justify-content: space-around;
  height: 5vh;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.nav a {
  color: white;
  transition: .5s;
  font-family: "coelacanth", serif;
  font-variant-caps: small-caps;
  font-size: 2em;
  width: 15vw;
  text-align: center;
  filter: drop-shadow(1px 1px 10px black);
}
.nav a:hover {
  transform: scale(1.2);
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    filter: blur(100px);
  }
  100% {
    height: 30vh;
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1.2);
    filter: opacity(100%);
  }
}
