.navAdmin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color: #202020;
    color: white;
    font-family: "factory", serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    box-shadow: 0 0 50px #15115;
}

.navAdmin a, .adminLink {
    color: orangered;
}

.navAdmin a:hover, .adminLink:hover {
    color: orange;
}