.BACK_IMG {
    background-attachment: fixed;
    background-size: cover;
}

.NEWS {
    background-image: url('../img/newsPaper.jpg');
}

.LOGIN {
    background-image: url('../img/business.jpg');
}

.MANAGE {
    background-image: url('../img/manage.jpg');
}

.MARKET {
    background-image: url('../img/market.jpg');
}

.NEW_ENTREPRISE {
    background-image: url('../img/register.jpg');
}

.ADVERT {
    background-image: url('../img/advert.jpg');
}

.ADVERT_PAGE {
    background-image: url('../img/adverts.jpg');
}