.btn {
    border: none;
    height: 4vh;
    width: 10vh;
    transition: .2s;
    background-color: var(--btnColorAccent);
}

.btn:hover {
    /*transform: scale(1.05);*/
    box-shadow: 2px 2px 10px black;
}

.btnDark {
    background-color: #404040;
    color: white;
}


.btn-details {
    height: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--btnColorSimple);
    color: var(--textOnLight);
}

.btn-back {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    background-color: transparent;
    border: none;
}

.btn-back i {
    font-size: 5em;
    transition: .5s;
    filter: drop-shadow(1px 1px 3px grey);
}

.btn-back i:hover {
    transform: scale(1.2);
}

.btnLink {
    border: none !important;
    background-color: transparent;
    color: orangered;
    font-family: 'factory';
    font-size: 1em;
}

.btnLink:hover {
    color: orange;
    cursor: pointer;
}