@font-face { font-family: "julius"; src: url('font/JuliusSansOne-Regular.ttf'); }
@font-face { font-family: "hoef"; src: url('font/hoefler-text-regular.otf'); }
@font-face { font-family: "coelacanth"; src: url('font/Coelacanth.otf'); }
@font-face { font-family: "roboto"; src: url('font/roboto/Roboto-Regular.ttf'); }
@font-face { font-family: "robotoBold"; src: url('font/roboto/Roboto-Bold.ttf'); }
@font-face { font-family: "robotoCond"; src: url('font/roboto/Roboto-Condensed.ttf'); }
@font-face { font-family: "factory"; src: url('font/factory_ljds/Factory_LJDS.ttf'); }
@font-face { font-family: "causal-regular"; src: url('font/Casual-Regular/Casual-Regular.ttf'); }
@font-face { font-family: "parallels"; src: url('font/Parallels_fonte/PARALLELS.otf'); }

@font-face { font-family: "timeSans"; src: url("font/times_sans_serif/TIMESS__.ttf"); }

@font-face { font-family: "josefin"; src: url("font/josefin-sans/JosefinSans-Regular.ttf"); }
@font-face { font-family: "josefinSB"; src: url("font/josefin-sans/JosefinSans-SemiBold.ttf"); }
@font-face { font-family: "josefinB"; src: url("font/josefin-sans/JosefinSans-Bold.ttf"); }
@font-face { font-family: "josefinI"; src: url("font/josefin-sans/JosefinSans-Italic.ttf"); }

