.textProd {
    resize: none;
    height: 6vh;
    width: 100%;
}

input, select {
    width: 100%;
    height: 3vh;
}

.loginForm li input[type='submit'] {
    width: 50%;
}

.loginForm input[type="submit"] {
    color: black;
    font-weight: bold;
    height: 4vh;
    margin: auto;
    width: 33%;
    border: none;
}

.recover {
    color: #B71C1C;
}

textarea {
    height: 25vh;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

input {
    height: 3vh;
    width: 100%;
    box-sizing: border-box;
}