.article {
    border-bottom: 1px solid #aaaaaa;
    a { cursor: pointer; }
    a {
        color: darkred;
        transition: .5s; }
    a:hover { color: orangered; }
    span {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        i { white-space: nowrap; }
    }
    blockquote * p {
        text-align: justify !important;
        white-space: pre-wrap !important;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
        white-space: -pre-wrap !important;      /* Opera 4-6 */
        white-space: -o-pre-wrap !important;    /* Opera 7 */
        word-wrap: break-word !important;       /* Internet Explorer 5.5+ */
    }
    img {
        padding-bottom: 2vh;
      display: block;
      margin: auto;
    }
    code {
        word-break: keep-all;
    }
}

h1, h2, h3, h4 {
    font-family: "julius", serif;
    padding-top: 2vh;
    padding-bottom: 1vh;
    font-weight: bold;
}

h1 {
    color: #000000cc;
    padding-top: 2vh;
    font-size: responsive 25px 35px;
}
h2 {

    font-size: responsive 22px 25px;

}
h3 {
    font-size: responsive 17px 22px;
}
h4 {
    font-size: responsive 15px 20px;
}
p, p:not(code) {
    font-family: "roboto", sans-serif;
    font-size: responsive 17px 20px;
    white-space: normal;
    hyphens: auto;
    display: block;

    code {
        font-size: responsive 15px 18px;
    }
}

.src, code, pre code {
    font-family: monospace;
    background-color: #303030;
    color: #eee;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 0 .5vh 0 .5vh;
    word-break: keep-all;
}

.warning {
    background-color: var(--errorBgc);
    border: 1px solid rgba(255,255,255, .4);
    color: white;
    border-radius: 3px;
    padding: 1vh;
    text-align: center;
    justify-content: center;
    margin: 0 10vh 0 10vh;
}

.hint {
    background-color: var(--infoBgc);
    border: 1px solid rgba(255,255,255, .4);
    color: white;
    border-radius: 3px;
    padding: 1vh;
    line-height: 1 !important;
    justify-content: center;
    margin: 0 10vh 0 10vh;
}

table {
    margin-left: 10vh;
    thead,  th {
        border-bottom: 1px solid black;
        font-size: 1.1em;
        padding: 0 2vh .5vh;
    }
}

tbody tr td { padding: 0 2vh 0 2vh; }

tbody tr td:first-child { border-right: 1px solid rgba(0,0,0,.5); }

.article ul {
    list-style: circle inside;
    margin-left: 5vh;
}

.article ol {
    list-style: decimal inside;
}

code {

}

#article {
    //animation: slideIn .5s forwards;
    position: absolute;
    left: -100vw;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    z-index: 999;
    background-color: white;
}

.selected {
    background-color: red;
}

@keyframes slideIn {
    100% { left: 0; }
}

@keyframes slideOut {
    100% { left: -100vw; }
}
